header,footer{
    height: 100vh;
}
header .buy{
    background-color: orangered;
}
footer .buy{
    background-color: orangered;
}
.overlap{
    position: relative;
}
.overlap h1{
    color: orangered;
    font-size:120px;
    font-weight: 900;
}
.overlap p{
    position: absolute;
    top: 30%;
    font-size: 50px;
    color: black;
    font-weight: 500;
    left: 35%;
    text-shadow:2px 2px #fff;
}
.overlap a{
    text-decoration: none;
    color: black;
}
.theme a{
text-decoration: none;
color: #000;
}
.theme .card{
    box-shadow: 20px -20px 10px gray;
    
}
.theme .card:hover{
   transform:translateY(-10px) ;
}
.stunning{
   position: relative;
}
.stunning .carousel{
    position: absolute;
    top: 20%;
    width: 55%;
}
.carousel-item img{
height: 200px;
}
.stunning .btn{
    background-color: orangered;
}
.stunning .para{
width: 50%;
}
.stunning .button{
    width: 50%;
    }
.icon{
    margin-top: 20%;
}
.icon i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    padding-top: 2%;
}
.stun .overlap{
    width: 70%;
}
.stun .overlap p{
    position: absolute;
    top: 30%;
    font-size: 50px;
    color: black;
    font-weight: 500;
    left: 35%;
    text-shadow:2px 2px #fff;
}

@media only screen and (max-width:600px) and (min-width:400px){
    .stunning .carousel{
        position: relative;
        top: 0;
        width: 100%;
    }
    .carousel-item img{
        height: 400px;
        }
        .stun .overlap{
            width: 100%;
        }
        .stun .overlap p{
           
            left: 3%;
         
        }
        .stunning .para{
            width: 100%;
            }
            .stunning .button{
                width: 100%;
                }
                .overlap p{
                    
                    left: 4%;
                    
                }
}
@media only screen and (max-width:480px){
    .stunning .carousel{
        position: relative;
        top: 0;
        width: 100%;
    }
    .carousel-item img{
        height: 400px;
        }
        .stun .overlap{
            width: 100%;
        }
        .stun .overlap p{
           font-size:35px;
            left: 0%;
         
        }
        .stunning .para{
            width: 100%;
            }
            .stunning .button{
                width: 100%;
                }
                .overlap p{
                    font-size:35px;
                    left: 0%;
                    
                }
}
